<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Detect</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>

<h2>Upload Sign Language Photo to Convert it to English.</h2>

<form action = 'predict' method = "post" enctype = "multipart/form-data">
{% csrf_token %}
<div class="wrapper">
    <div class="file-upload">
        <input type = 'file' name = 'image'>
        <i class="fa fa-arrow-up"></i>
        <button type = 'submit'>Upload Image</button>
    </div>
</div>
</form>
</body>
</html>